.bg-white {
    -fx-background-color: white;
}

.main-form {
    -fx-padding: 5 0 5 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 10, 0, 0, 5);
}

.sidebar {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10 0 0 10;
}

.right-border {
    -fx-border-color: transparent #999 transparent transparent;
    -fx-border-width: 0 1 0 0;
}

.card-style {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 15, 0, 0, 5);
    -fx-padding: 15;
}

.footer {
    -fx-background-color: #ffffff;
    -fx-padding: 12;
    -fx-background-radius: 0 0 10 0;
}

.tab-pane .tab-header-background {
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 0 10 0 0;
}

.tab-pane .tab {
    -fx-border-color: #F5F5F5;
    -fx-background-color: white;
    -fx-min-height: 55;
    -fx-pref-height: 55;
    -fx-background-insets: 0 5 0 0;
}

.tab-pane .tab-header-area {
    -fx-min-height: 55;
    -fx-background-color: white;
}

.tab-pane .tab .tab-label {
    -fx-text-fill: #333333;
    -fx-font-size: 18px;
    -fx-padding: 0 10 0 10;
}

.tab-pane .tab:selected {
    -fx-background-color: #6c757d;
    -fx-background-insets: 0 5 0 0;
}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill: white;
}

.content-area {
    -fx-background-color: white;
}

.main-container {
    -fx-background-color: #F5F5F5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 15, 0, 0, 5);
    -fx-padding: 5;
}