.bootstrap-input {
    -fx-background-color: white;
    -fx-border-color: #ced4da;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-border-width: 1;
    -fx-padding: 6 10 6 10;
    -fx-font-size: 13px;
}

/* Khi focus */
.bootstrap-input:focused {
    -fx-border-color: #86b7fe;      /* primary focus */
    -fx-border-width: 1.5;
    -fx-effect: dropshadow(three-pass-box, rgba(13,110,253,0.25), 4, 0, 0, 0);
}

.bootstrap-input:disabled {
    -fx-background-color: #e9ecef;
    -fx-text-fill: #212529;
    -fx-border-color: #ced4da;
    -fx-opacity: 1;
}

.progress-indicator {
    -fx-progress-color: #0d6efd;
}

.progress-bar {
    -fx-accent: #0d6efd;
}

.label {
    -fx-text-fill: #212529;
}

.modal-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.45);
}

.modal-container {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-background-radius: 8;
    -fx-min-width: 400;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 15, 0, 0, 5);
}

.bg-white {
    -fx-background-color: white;
}

.box-shadow {
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 15, 0, 0, 5);
}

.sidebar {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 15, 0, 0, 5);
    -fx-padding: 5;
}

.card-style {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 15, 0, 0, 5);
    -fx-padding: 15;
}